<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Default Progress bars</h4>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height: 10px;"
            role="progressbar"
            [style.width]="getProgressOne"
          >
          </div>
        </div>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            style="height: 10px;"
            role="progressbar"
            [style.width]="getProgressTwo"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increasing (valueOutput)="progressOne = $event" [progress]="progressOne" ></app-increasing>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increasing (valueOutput)="progressTwo = $event" [progress]="progressTwo" [btnClass]="'btn btn-info'"></app-increasing>
      </div>
    </div>
  </div>
</div>
